<!doctype html>
<!-- ng-app used to specify the module name used to define what module have to show data in view using controller. If no any module define the controller than np-app will be blank -->
<html lang="en" data-ng-app="listpp">
<head>
	<meta charset ="UTF-8">
	<title>Angular with PHP</title>
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js">
        </script>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">
    <!--<script src="https://code.angularjs.org/1.2.26/angular-route.js">
        </script>-->
        <!-- includeing the controller file which controlls the data to be presented in html-->
	<script src="js/controller.js"></script>
</head>
<body id="outer" ng-controller="PhoneListCtrl">
<script type="text/javascript">
var SortingOrder = 'name';
</script>
	<h4 align="center">Add products</h4>
	<form name="add_product" class="wrapper">
		<input type="hidden" name="prod_id" data-ng-model="prod_id">
		<input type="text" name="prod_name" data-ng-model="prod_name" placeholder="Enter Product Name">
		<input type="text" name="prod_desc" data-ng-model="prod_desc" placeholder="Enter Product Descrition">
		<input type="text" name="prod_price" data-ng-model="prod_price" placeholder="Enter Product Price">
		<input type="text" name="prod_quantity" data-ng-model="prod_quantity" 
		placeholder="Enter Product Quantity">
		<button name="submit_product" data-ng-show='add_prod' value="Submit" data-ng-click="product_submit()"></button>
		<button name="update_product" data-ng-show='update_prod' value="Update" data-ng-click="update_product()"></button>
		
	</form>
	<br />
	<h4> Search Product</h4>
	<div class="input-append">
	<input type="text" data-ng-model="product_name" data-ng-change="search()" class="input-large search-query ">

</body>
</html>
